{{> menu id="About"}}

<section class="ui left aligned middle aligned segment">
  <h3 class="ui header">
    Aidan O' Brien <br>
    WIT Higher Diploma in Science in Computer Science <br>
   ICT-Skills1 | Assignment | Summmer 2019 <br>
  </h3>
  <h2 class="ui header">
    About
  </h2>
  <p>
    This app enables the user to determine their Body Mass Index(BMI). <br>
    Assessments can be create to track various parameters. <br>
     A weight category is appointed based on the user's BMI score :
    <ul>
  <li> BMI less than 16 (exclusive) is "SEVERELY UNDERWEIGHT" </li>
  <li> BMI between 16 (inclusive) and 18.5 (exclusive) is "UNDERWEIGHT" </li>
  <li> BMI between 18.5 (inclusive) and 25(exclusive) is "NORMAL" </li>
  <li> BMI between 25 (inclusive) and 30 (exclusive) is "OVERWEIGHT" </li>
  <li> BMI between 30 (inclusive) and 35 (exclusive) is "MODERATELY OBESE" </li>
  <li> BMI greater than 35 (inclusive) and is "SEVERELY OBESE" </li>
  </ul>
  </p>
  <h2 class="ui header">
    What is BMI?
  </h2>
  <p>
    Body Mass Index is a person's weight divided by the square of their height. <br>
    <br>
    BMI = (Weight KG)/(Height M)(Height M)
  </p>
  <h2 class="ui header">
    How reliable is BMI?
  </h2>
  <p>
    BMI does not take a person's body composition into account.<br>
    It is general indicator as to status of a person's body weight based on weight and height.
  </p>
</section>