
{{> welcomemenu id="start"}}

<section class="ui raised segment">

<div class="ui two column grid basic middle aligned segment">
  <div class="column">

    <h1 class="ui center aligned header">
    BMI Tracker
  </h1>



  <h2 class="ui center aligned header">
      Fill in your assessments week by week and track your BMI. Trainers will comment on your progress and encourage you to keep goin!
  </h2>
    </div>

  <div class="column">
    <div class = "right aligned"><img src="https://cdn.glitch.com/f6132448-c661-4210-9392-2ee4720c758e%2Fabout.jpg?v=1565445860388" height="500" width="500"/></div>
    </div>

</div>
</section>
